# 25 Commonly used built in function

## 1) print(): Outputs text or variables to the console

In [1]:
print('Data Science')

Data Science

# 2) len(): Return the length of an object

In [2]:
my_list=[1,2,3,4,5]
length=len(my_list)

In [3]:
length

5

# 3) input(): Read input from  the user

In [4]:
user_input=input('Enter something: ')

Enter something: I want to be a Data Scientist

In [5]:
user_input

'I want to be a Data Scientist'

# 4) type(): Returns type of an object

In [6]:
x=5
type(x)

int

# 5) int(),float(),str(): Converts value to integer,float,strings

In [7]:
num_str='42'

In [8]:
num_int=int(num_str)

In [9]:
num_int

42

In [10]:
type(num_int)

int

In [11]:
float(num_int)

42.0

# 6) range(): Generates a sequence of numbers

In [12]:
numbers=list(range(1,6))

In [13]:
print(numbers)

[1, 2, 3, 4, 5]

# 7) sum(): Returns the sum of all elements

In [14]:
my_list=[1,2,3,4,5]

In [15]:
total=sum(my_list)

In [16]:
total

15

# 8) max(),min(): Return the maximum and minimum value from an iterable

In [17]:
numbers=[3,1,4,1,5,9,2]

In [18]:
max_val=max(numbers)

In [19]:
max_val

9

In [20]:
print(min(numbers))

1

# 9) abs(): Returns the absolute value of a number

In [21]:
abs_value=abs(-10)

In [22]:
abs_value

10

# 10) round(): Rounds a floating point number to a specified number of decimals

In [23]:
round_num=round(3.14159)

In [24]:
print(round_num)

3

In [25]:
round_num=round(3.14159,4)

In [26]:
print(round_num)

3.1416

In [27]:
lst=[3.344,4.56745,6.667674]

In [28]:
rd=round(lst,3)

TypeError: type list doesn't define __round__ method

# 11) sorted(): Returns a new sorted list from the elements of an iterable

In [29]:
numbers=[3,1,4,1,5,9,2]

In [30]:
srtd=sorted(numbers)

In [32]:
print(srtd)

[1, 1, 2, 3, 4, 5, 9]

# 12) any(),all(): Returs True if any or all elemets in an iterable are true

In [33]:
bool_list=[True,False,True,True]

In [34]:
any_true=any(bool_list)

In [35]:
print(any_true)

True

In [36]:
all_true=all(bool_list)

In [37]:
print(all_true)

False

# 13) str.join(): Joins elements of an iterable with a string as separator

In [38]:
my_list=['apple','banana','orange']

In [39]:
joined_str=','.join(my_list)

In [40]:
joined_str

'apple,banana,orange'

In [41]:
joined_str='+'.join(my_list)

In [42]:
joined_str

'apple+banana+orange'

# 14) str.lower(),str.upper(): Converts a string lowercase to uppercase

In [46]:
my_string='HeLLo worlD'

In [48]:
print(my_string.upper())

HELLO WORLD

In [49]:
print(my_string.lower())

hello world

# 15) list().tuple(): Converts an iterable to a list or tuple

In [50]:
my_tuple=(1,2,3)

In [51]:
print(list(my_tuple))

[1, 2, 3]

In [52]:
list=[1,2,3,4,5]

In [53]:
print(tuple(list))

(1, 2, 3, 4, 5)

# 16) set(): Creates a set

In [54]:
my_set=set([1,2,3,4,5])

In [55]:
print(my_set)

{1, 2, 3, 4, 5}

# 18) enumerate(): Returns tuples with the index and correspondig element

In [56]:
my_list=['Alice','Bob','Charlie']

In [57]:
for index,value in enumerate(my_list):
    print(index,value)

0 Alice
1 Bob
2 Charlie

In [58]:
my_lst=[1,34,445,544,3]

In [60]:
for i,x in enumerate(my_lst):
    print(i,x)

0 1
1 34
2 445
3 544
4 3

# 19) zip(): Conbine two or more iterable element_wise

In [61]:
names=['Alice','Bob','Charlie']

In [62]:
ages=[25,30,32]

In [63]:
zipped=zip(names,ages)

In [64]:
print(zipped)

<zip object at 0x000002781F7F3A00>

In [65]:
type(zipped)

zip

# reversed(): Returns a reverse iteration of a sequence

In [67]:
my_list=[1,2,3]

In [74]:
reversed_list=reversed(my_list)

In [75]:
reversed_list

In [76]:
print(reversed_list)

<list_reverseiterator object at 0x000002781EC8C8E0>

# 22) sum() (with start argument): Returns the sum of an iterable with an optional starting  value

In [77]:
numbers

[3, 1, 4, 1, 5, 9, 2]

In [78]:
sum(numbers)

25

In [79]:
total=sum(numbers,10)
print(total)

35

# 23) abs()(for complex numbers): Returns the magnitude of a complex

In [80]:
complex_num=3+4j

In [81]:
magnitude=abs(complex_num)

In [82]:
print(complex_num)

(3+4j)

In [83]:
print(magnitude)

5.0

# 24) slice(): Creates a slice ohject that can be used to slice sequences like lists and strings

In [84]:
my_list=[1,2,3,4,5,6,7,8,9]

In [85]:
my_slice=slice(1,4)

In [86]:
print(my_slice)

slice(1, 4, None)

In [88]:
slice_list=my_list[my_slice]

In [89]:
print(slice_list)

[2, 3, 4]

In [90]:
my_slice=slice(0,5)

In [91]:
print([my_slice])

[slice(0, 5, None)]

In [93]:
slice_list=my_list[my_slice]

In [94]:
slice_list

[1, 2, 3, 4, 5]

In [95]:
safa=[1,34,42,34,4,2,34,43,23,2,3]

In [96]:
s_slice=slice(2,6)

In [97]:
sadia=safa[s_slice]

In [98]:
print(sadia)

[42, 34, 4, 2]

# chr(),ord(),(extended usage): Handling Unicode characters and code points

In [99]:
euro_symbol=chr(8364)

In [100]:
print(euro_symbol)

€

In [102]:
code_point=ord('€')

In [103]:
code_point

8364

In [104]:
code_point=ord('$')

In [105]:
code_point

36

In [106]:
dollar_sign=chr(36)

In [107]:
print(dollar_sign)

$

In [108]:
char=chr(65)

In [109]:
char

'A'

In [110]:
cp=ord('A')

In [111]:
cp

65