# Arguments vs Parameters

## (1) Positional Arguments

In [3]:
def add (x,y):
    result=x+y
    return result

In [4]:
add(10,20)

30

## (2) Keyword argument

In [5]:
def personal(job,income):
    print('job=',job)
    print(income)

In [6]:
personal(200000,'Data Scientist')

job= 200000
Data Scientist

## The solution of above case function is keyword argument

In [9]:
def personal(job,income):
    print('job=',job)
    print(income)

In [10]:
personal(job='Data Scientist',income=200000)

job= Data Scientist
200000

In [11]:
personal(income=200000,job='Data Scientist')

job= Data Scientist
200000

## (3) Default Argument

In [12]:
def personal(job,income=100000):
    print('job=',job)
    print(income)

In [13]:
personal('Data Scientist',200000)

job= Data Scientist
200000

## (4) Variable length argument

In [14]:
def add_num(*x):
    print(x)
    result=sum(x)
    return result

In [15]:
add_num(10,30,10,1000,4000)

(10, 30, 10, 1000, 4000)

5050

In [32]:
def add_num(x,*y):
    print(x)
    print(*y)
    result=sum(y)+x
    return result

In [33]:
add_num(10,30,10,1000,4000)

10
30 10 1000 4000

5050